{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/pepperweb.png" alt="Pepperweb" /><span>pepperweb</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#featured">browse all gigs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#partner">become a partner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <div class="container-fluid my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="col-lg-8 mx-auto">
                        <p class="text-faded pepper-title">PEPPERWEB GIGS</p>
                    </div>
                    <h1>
                        <strong>Grow Your <span>Startup</span></strong>
                    </h1>
                </div>
                <div class="col-lg-6 mx-auto">

                    <p class="text-faded mb-5 masthead-text">Grow your startup with curated & pre-packaged marketing gigs. Work with experts to grow your startup with high quality & hand-picked growth services.</p>
                    <a class="js-scroll-trigger text-uppercase more-link" href="#featured">Scroll to learn more</a>
                </div>
            </div>
        </div>
    </header>

    <section class="p-0" id="featured">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12 d-flex justify-content-start featured-header">
                    <h2 class="">Featured Gigs</h2>
                    <div class="currency-box d-inline-flex justify-content-start">
                        <form>
                            <label>Currency :</label>
                            <div class="d-inline-flex form-group">
                                <select class="border-0">
                                    <option>USD</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav justify-content-end">
                        {% for category in categories %}
                        <li class="nav-item"><a class="{{ (loop.first) ? 'border-left-0' : '' }} {{ (loop.last) ? 'mr-0' : '' }} filter-button" data-filter="filter-{{category.name|lower|replace({' ': "-"})}}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-social-media">
                    <div class="featured-bloc bg-twitter">
                        <div class="featured-icon"><img src="img/icon-twitter.png" alt="" /></div>
                        <p class="featured-category">SOCIAL MEDIA</p>
                        <h3>Twitter Growth</h3>
                        <p class="featured-description">We'll organically grow your Twitter so that you have relevant & targeted followers</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-social-media">
                    <div class="featured-bloc bg-instagram">
                        <div class="featured-icon"><img src="img/icon-instagram.png" alt="" /></div>
                        <p class="featured-category">SOCIAL MEDIA</p>
                        <h3>Instagram Growth</h3>
                        <p class="featured-description">We'll organically grow your Twitter so that you have relevant & targeted followers</p>
                        <div class="featured-price d-inline-flex"><span class="coming-soon">coming soon</span></div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-seo">
                    <div class="featured-bloc bg-google">
                        <div class="featured-icon"><img src="img/icon-google.png" alt="" /></div>
                        <p class="featured-category">SEO</p>
                        <h3>Move up Google's rankings</h3>
                        <p class="featured-description">We've tailored and SEO package to help you rapidly climb Google's Ranking within 4 weeks.</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-design">
                    <div class="featured-bloc bg-design">
                        <div class="featured-icon"><img src="img/icon-design.png" alt="" /></div>
                        <p class="featured-category">DESIGN</p>
                        <h3>Unlimited Web & App Design</h3>
                        <p class="featured-description">Get unlimited web & app design services every mounth. UX/UI, logos, branding & more</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">12 of 15 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-sales">
                    <div class="featured-bloc bg-sales">
                        <div class="featured-icon"><img src="img/icon-sales.png" alt="" /></div>
                        <p class="featured-category">SALES</p>
                        <h3>400 Custom Leads Monthly</h3>
                        <p class="featured-description">We'll deliver 400 highly targeted leads every mounth. Each lead is real person in your target market.</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">43 of 50 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-development">
                    <div class="featured-bloc bg-development">
                        <div class="featured-icon"><img src="img/icon-development.png" alt="" /></div>
                        <p class="featured-category">DEVELOPMENT</p>
                        <h3>Custom Websit Built & Managed</h3>
                        <p class="featured-description">We'll design & develop a completly custom eCommerce or marketing website for you.</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">19 of 20 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-design">
                    <div class="featured-bloc bg-growth">
                        <div class="featured-icon"><img src="img/icon-growth.png" alt="" /></div>
                        <p class="featured-category">DESIGN</p>
                        <h3>Twitter Growth</h3>
                        <p class="featured-description">We'll organically grow your Twitter so that you have relevant & targeted followers</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-development">
                    <div class="featured-bloc bg-advice">
                        <div class="featured-icon"><img src="img/icon-advice.png" alt="" /></div>
                        <p class="featured-category">DEVELOPMENT</p>
                        <h3>Twitter Growth</h3>
                        <p class="featured-description">We'll organically grow your Twitter so that you have relevant & targeted followers</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-development">
                    <div class="featured-bloc bg-seo">
                        <div class="featured-icon"><img src="img/icon-seo.png" alt="" /></div>
                        <p class="featured-category">DEVELOPMENT</p>
                        <h3>Twitter Growth</h3>
                        <p class="featured-description">We'll organically grow your Twitter so that you have relevant & targeted followers</p>
                        <div class="featured-price d-inline-flex">$55/m</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="featured-stock">74 of 100 spots left</div>
                    </div>
                </div>


            </div>
        </div>
    </section>




    <section id="partner" class="bg-dark text-white p-5">
        <div class="row">
            <div class="container-fluid p-5 text-center">
                <div class="col-lg-10 mx-auto">
                    <p class="text-faded pepper-title">GROW WITH US</p>
                    <p class="text-1">Sell your services through <a href="#">Pepperweb Growth Store</a></p>
                    <p class="text-2">Work with <a href="#">Pepperweb Growth Store</a> to provide your services & take home 100% of your fee.</p>
                    <a class="d-inline-flex btn" href="#">BECOME A PARTNER</a>
                </div>
            </div>
        </div>
    </section>



    <section class="p-0" id="more">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-between">
                    <h2>BROWSE MORE</h2>

                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <ul class="nav justify-content-end">
                        <li class="nav-item"><a class="border-left-0 filter-button" data-filter="filter-animation">animation</a></li>
                        <li class="nav-item"><a class="filter-button" data-filter="filter-slack">video</a></li>
                        <li class="nav-item"><a class="filter-button mr-0" data-filter="filter-video">development</a></li>
                    </ul>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-animation">
                    <div class="featured-bloc bg-messenger">
                        <div class="featured-icon"><img src="img/icon-messenger.png" alt="" /></div>
                        <p class="featured-category">DEVELOPMENT</p>
                        <h3>Build a Messenger Chatbot</h3>
                        <p class="featured-description">Get a completely custom Facebook Messenger chatbot made for your company.</p>
                        <div class="featured-price d-inline-flex"><span class="coming-soon">coming soon</span></div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-slack">
                    <div class="featured-bloc bg-slack">
                        <div class="featured-icon"><img src="img/icon-slack.png" alt="" /></div>
                        <p class="featured-category">DEVELOPMENT</p>
                        <h3>Build a Slack Chatbot</h3>
                        <p class="featured-description">Get a completely custom Slack bot for your company. We'll ensure it's 100% tailored to your needs</p>
                        <div class="featured-price d-inline-flex"><span class="coming-soon">coming soon</span></div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-video">
                    <div class="featured-bloc bg-video">
                        <div class="featured-icon"><img src="img/icon-video.png" alt="" /></div>
                        <p class="featured-category">VIDEO</p>
                        <h3>1 Minute Explainer Video</h3>
                        <p class="featured-description">We'll design, voiceover & animate a completely custom 1 minute explainer video</p>
                        <div class="featured-price d-inline-flex"><span class="coming-soon">coming soon</span></div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </div>


            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container-fluid">
            <div class="col-md-12 mx-auto d-flex justify-content-center">
                <ul class="d-flex justify-content-center p-0">
                    <li><a href="#">BROWSE ALL GIGS</a></li>
                    <li><a href="#">BECOME A PARTNER</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>

            <div class="col-md-12 mx-auto d-flex justify-content-center">
                <ul class="d-flex p-0 social-icons">
                    <li><a href="#" target="_blank"><img src="img/footer-ico-facebook.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer-ico-twitter.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer-ico-dribble.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer-ico-vimeo.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer-ico-google.png" alt="" /></a></li>
                </ul>
            </div>

            <div class="col-md-12 mx-auto d-flex justify-content-center">
                <p class="copy">Pepperweb 2017 - All Rights Reserved</p>
            </div>


        </div>
    </footer>
{% endblock %}
